# More information: https://langfuse.com/docs/deployment/self-host

DATABASE_URL="postgresql://postgres:postgres@db:5432/postgres"
NEXTAUTH_URL="http://localhost:3000"
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="secret"
SALT="salt"
LANGFUSE_CSP_ENFORCE_HTTPS="true"