OPENAI_API_KEY=<openai-api-key>
ANTHROPIC_API_KEY=<anthropic-api-key>
LANGFUSE_SECRET_KEY=<langfuse-secret-key>
LANGFUSE_PUBLIC_KEY=<langfuse-public-key>
LANGFUSE_HOST=http://localhost:3000
MAPBOX_API_TOKEN=<mapbox-api-key>
WRI_API_KEY=<wri-api-key>
WRI_BEARER_TOKEN=<wri-bearer-token>
DOMAINS_ALLOWLIST=<domains-allowlist>
API_BASE_URL=http://localhost:8000
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/zeno-data-local
OLLAMA_BASE_URL=http://localhost:11434
STREAMLIT_URL=http://localhost:8501 # URL where the Streamlit app is hosted
COOKIE_SIGNER_SECRET_KEY="secret-cookie-key-123"
