langchain>=0.3.7
langchain-anthropic>=0.2.4
langchain-community>=0.3.5
langchain-ollama>=0.2.0
langchain-openai>=0.2.6
langchain-anthropic>=0.3.0
langfuse>=2.53.9
langchain-chroma>=0.1.4
langgraph>=0.2.45
fastapi[standard]>=0.115.4
